<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고유진의 시간표</title>
    <link rel="stylesheet" href="prac.css">
</head>
<body>
    <header><h1>시간표 - 202212070  고유진</h1></header>
    <nav>
        <ul class="nav-container">
            <Li class="nav-item"><a href="introduce.html">Main</a></Li>
            <div class="thispage">
            <li class="nav-item"><a href="prac.html">시간표</a></li>
            </div>
            <li class="nav-item"><a href="image.html">갤러리</a></li>
            <li class="nav-item"><a href="test.html">소개 페이지</a></li>
            <li class="nav-item"><a href="Charlie.html">찰리브라운</a></li>
        </ul>
    </nav>
    
    <table border="3" width="600" height ="700">
        <tr>
            <th class="jb-th-1">&nbsp;</th>
            <th>월</th>
            <th>화</th>
            <th>수</th>
            <th>목</th>
            <th>금</th>
        </tr>
        <tr>
            <td rowspan="2" class="time">9시</td>
            <td rowspan="6" class="mathmatic">
                <p class="subject-name">생활 속 수학</p>
                <p class="sub-info">윤명호<br>9:00~11:50<br>A1505</p>
            </td>
            <td class="sel-line">&nbsp;</td>
            <td>&nbsp;</td>
            <td rowspan="6" class="sociology">
                <p class="subject-name">헷갈리는 사회문제<br>깊이 들여다보기</p>
                <p class="sub-info">박경태<br>9:00~11:50<br>G7308</p>
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
      
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td rowspan="2" class="time">10시</td>
            <td rowspan="4" class="peace">
                <p class="subject-name">인권과 평화</p>
                <p class="sub-info">채기화<br>10:00~11:50<br>G7207</p>
            </td>
            <td class="sel-line">&nbsp;</td>
            <td rowspan="4" class="uni">
                <p class="subject-name">대학생활 세미나</p>
                <p class="sub-info">차피득<br>10:00~11:50<br>G7302</p>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td rowspan="2" class="time">11시</td>
            <td class="sel-line">&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td rowspan="2" class="time">12시</td>
            <td rowspan="3" class="business">
                <p class="subject-name">경영학입문</p>
                <p class="sub-info">박윤규<br>12:00~13:15<br>G7308</p>
            </td>
            <td class="sel-line"&nbsp;</td>
            <td rowspan="3" class="business">
                <p class="subject-name">경영학입문</p>
                <p class="sub-info">박윤규<br>12:00~13:15<br>G7308</p>
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td rowspan="2" class="time">1시</td>
            <td>&nbsp;</td>
            <td class="sel-line">&nbsp;</td>
            <td rowspan="4" class="science">
                <p class="subject-name">과학기술과 에콜로지</p>
                <p class="sub-info">신익상<br>1:00~2:50<br>G7308</p>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td rowspan="2" class="time">2시</td>
            <td class="sel-line">&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td rowspan="2" class="time">3시</td>
            <td class="sel-line">&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td rowspan="6" class="west">
                <p class="subject-name">서양사의 이해</p>
                <p class="sub-info">한해정<br>3:00~5:50<br>M403</p>
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td rowspan="2" class="time">4시</td>
            <td class="sel-line">&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td rowspan="2" class="time">5시</td>
            <td class="sel-line">&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td rowspan="2" class="time">6시</td>
            <td class="sel-line">&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>

    </table>
</body>
</html>