@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
}
*{
    font-family: 'GowunBatang-Regular';

}
body{
    margin: 0;
    background-color: rgb(200, 219, 202);;
}

.jb-th-1{
    width: 40px;
}
td{
    text-align: center;
    background-color: rgb(240, 245, 239);
}
th {
    background-color: rgb(240, 245, 239);
}

.mathmatic{
    background-color: #fb9da7;
}

.business{
    background-color: #fcccd4;
}
.peace{
    background-color: #fbdea2;
}
.west{
    background-color: #f2e2c6;
}
td{
    font-size: 10px;
}
.sociology{
    background-color: #82b695;
}
.uni{
    background-color: #cdcbf0;
}
.science{
    background-color: #d0f0ff;
}

table{
    border-collapse: collapse;
    border: 1px solid black;
    table-layout: fixed;
    word-break: break-all;
    margin: auto;
}
.sub-info{
    font-style: lighter;
    font-size: 8px;
}

.time{
    height: 50px;
}
.sel-line{
    height: 30px;
}

.subject-name{
    font-style: bold;
}

.nav-container {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #8eb695;
    list-style-type: none;
  
  }
  .nav-item {
    padding: 15px;
    cursor: pointer;
  }
  .nav-item a {
    text-align: center;
    text-decoration: none;
    color:snow
  }
    

header {
    margin-top: 80px;
    text-align: center;
}
.nav-item:hover{
    background-color: rgb(91, 128, 109);
}
.nav-item:active{
    background-color: rgb(58, 87, 72);
}
.thispage{
    background-color: rgb(58, 87, 72);
}